body,
html {
    margin: 0;
    padding: 0;

    font-family: 'roboto', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1.05%;
    color: #333;
    background: #f5f5f5;
    max-width: 760px;
    margin: 0 auto;
    
}

h1,
h2 {
    color: #222;
}

header {
    background: pink;
    padding: 0;
    margin:0;
}

header h1, header h2 {
    margin: 0;
}

/* .btn {
    border: 0;
    border-radius: 8px;
    padding: 10px 25px;
    min-width: 96px;
    text-align: center;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
    color: #333;
    margin: 20px;
    border: 5px;
    border-style: solid;
    border-color: black;
}  

.btn.btn-success {
    background-color: darkgreen;
    color: white;

}

.btn.btn-success:hover {
    background-color: lime;
}

.btn.btn-danger {
    background-color: red;
    color: white;
    font-size: 5em;
}

.btn.btn-danger:hover {
    background-color: blueviolet;
}

.btn:focus {
    text-decoration: underline;
} */